<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.metrics.generator.NewMetricWizardJava"
            icon="icons/newmetric.PNG"
            id="org.eclipse.emf.refactor.metrics.newwizard"
            name="Metric (specified in Java)">
      </wizard>
   </extension>
</plugin>
